@model IEnumerable<OnlineHelpDesk.Models.Account>

@{
    ViewData["Title"] = "List user";
}
<div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3>@ViewBag.msg</h3>
                    <h2>List user</h2>

                    <p>
                        <a asp-controller="Accounts" asp-action="Create">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Password
                                </th>
                                <th>
                                    Avatar
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.users)
                            {
                            <tr>
                                <td>
                                    @item.FName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Password
                                </td>
                                <td>
                                    <img src="~/uploads/@item.Avatar" style="height:50px; " />
                                </td>
                                <td>
                                    @item.Role.Name
                                </td>
                                <td>
                                    @(item.Status ? "Active" : "Disable")
                                </td>
                                <td>
                                    <a asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-controller="Accounts" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-controller="Accounts" asp-action="Delete" asp-route-id="@item.Id" OnClick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
